.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: $footer-background-color;
    color: $color-secondary;
    height: 259px;
    margin-top: 50px;
    padding-bottom: 50px;

    @include respond-to(desktop) {
        height: 284px;
        margin-top: 75px;
    }

    img {
        width: 122px;
        height: 39.44px;
    }

    p {
        margin: 0;
        padding-top: 40px;
        font-size: 12px;

        @include respond-to(tablet) {
            font-size: 18px;
        }

        @include respond-to(desktop) {
            font-size: 24px;
        }
    }
}
