.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;

    @include respond-to(mobile) {
        height: 47px;
    }

    .header__logo {
        width: 210.32px;
        height: 68px;
        img {
            object-fit: contain;
            width: 100%;
        }
        @include respond-to(tablet) {
            width: 145px;
            height: 47px;
        }
        @include respond-to(mobile) {
            width: 145px;
            height: 47px;
        }
    }

    .navBar {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 50px;
            list-style: none;
        }

        @include respond-to(mobile) {
            ul {
                gap: 15px;
                text-transform: uppercase;
            }
        }
    }
}

.navBar__link {
    color: $color-primary;
    font-size: 24px;
    text-decoration: underline;
    &:focus {
        text-decoration: none;
    }
    @include respond-to(tablet) {
        font-size: 18px;
    }
    @include respond-to(mobile) {
        font-size: 12px;
    }
}
