.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;

    @include respond-to(desktop) {
        height: 68px;
    }

    .header__logo {
        width: 145px;
        height: 47px;

        img {
            object-fit: contain;
            width: 100%;
        }

        @include respond-to(tablet) {
            width: 145px;
            height: 60px;
        }

        @include respond-to(desktop) {
            width: 210.32px;
            height: 68px;
        }
    }

    .navBar {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 15px;
            list-style: none;
            text-transform: uppercase;
        }

        @include respond-to(tablet) {
            gap: 30px;
            text-transform: none;
        }

        @include respond-to(desktop) {
            ul {
                gap: 50px;
                text-transform: none;
            }
        }
    }
}

.navBar__link {
    color: $color-primary;
    font-size: 12px;
    text-decoration: none;

    &:focus {
        text-decoration: underline;
    }

    @include respond-to(tablet) {
        font-size: 18px;
    }

    @include respond-to(desktop) {
        font-size: 24px;
    }
}
