.about__banner {
    max-width: 1240px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        border-radius: $border-radius-small;
        height: 223px;
        object-position: 50% 50%;
        object-fit: cover;
    }

    @include respond-to(desktop) {
        margin-bottom: 30px;
        border-radius: $border-radius-big;
    }
}
