.about__banner {
    max-width: 1040px;
    margin: 40px 0;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        border-radius: 25px;
        height: 223px;
    }
}
