.home__banner {
    background-image: url(../assets/banner__home.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 111px;
    border-radius: $border-radius-small;

    @include respond-to(tablet) {
        height: 160px;
        border-radius: $border-radius-big;
        justify-content: center;
        margin-top: 50px;
    }

    @include respond-to(desktop) {
        height: 223px;
        border-radius: $border-radius-big;
        justify-content: center;
        margin-top: 75px;
    }

    h1 {
        font-size: 24px;
        line-height: 24px;
        color: $color-secondary;
        margin: 0;
        padding-left: 16px;
        display: flex;
        flex-direction: column;

        @include respond-to(desktop) {
            font-size: 30px;
            line-height: 30px;
            flex-direction: row;
            span {
                padding-right: 10px;
            }
        }

        @include respond-to(desktop) {
            font-size: 48px;
            line-height: 68.45px;
            flex-direction: row;
            span {
                padding-right: 10px;
            }
        }
    }
}

.home__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;

    @include respond-to(desktop) {
        gap: 50px;
        padding: 56px 50px;
        margin-top: 50px;
    }

    .home__gallery__card {
        position: relative;
        width: 335px;
        height: 255px;
        overflow: hidden;
        border-radius: $border-radius-small;
        padding: 0 19.71px 15px 19.71px;
        display: flex;
        align-items: flex-end;

        @include respond-to(tablet) {
            width: 340px;
            height: 340px;
        }

        @include respond-to(desktop) {
            width: 340px;
            height: 340px;
        }

        img {
            width: 335px;
            height: 255px;
            object-fit: cover;
            object-position: 50% 50%;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            @include respond-to(tablet) {
                width: 340px;
                height: 340px;
            }

            @include respond-to(desktop) {
                width: 340px;
                height: 340px;
            }
        }
        h2 {
            margin: 0;
            position: absolute;
            font-size: 18px;
            line-height: 25.67px;
            color: $color-secondary;
        }
    }
}
