* {
  box-sizing: border-box;
}

body {
  min-width: 360px;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
}

header,
main {
  margin: 40px 100px;
}
@media (min-width: 720px) and (max-width: 1023px) {
  header,
  main {
    margin: 30px 30px;
  }
}
@media (max-width: 719px) {
  header,
  main {
    margin: 20px 20px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}
@media (max-width: 719px) {
  .header {
    height: 47px;
  }
}
.header .header__logo {
  width: 210.32px;
  height: 68px;
}
.header .header__logo img {
  object-fit: contain;
  width: 100%;
}
@media (min-width: 720px) and (max-width: 1023px) {
  .header .header__logo {
    width: 145px;
    height: 47px;
  }
}
@media (max-width: 719px) {
  .header .header__logo {
    width: 145px;
    height: 47px;
  }
}
.header .navBar ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  list-style: none;
}
@media (max-width: 719px) {
  .header .navBar ul {
    gap: 15px;
    text-transform: uppercase;
  }
}

.navBar__link {
  color: #ff6060;
  font-size: 24px;
  text-decoration: underline;
}
.navBar__link:focus {
  text-decoration: none;
}
@media (min-width: 720px) and (max-width: 1023px) {
  .navBar__link {
    font-size: 18px;
  }
}
@media (max-width: 719px) {
  .navBar__link {
    font-size: 12px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  color: white;
  height: 209px;
  padding: 40px;
  margin: 0;
}
@media (max-width: 719px) {
  .footer {
    padding: 40px 40px 80px 40px;
  }
}
.footer img {
  width: 122px;
  height: 39.44px;
}
.footer p {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
}
@media (min-width: 720px) and (max-width: 1023px) {
  .footer p {
    font-size: 18px;
  }
}
@media (max-width: 719px) {
  .footer p {
    font-size: 12px;
  }
}
@media (max-width: 719px) {
  .footer p {
    font-size: 12px;
  }
}

.collapse .collapse__title {
  background-color: #ff6060;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  padding: 0 30px 0 20px;
}
.collapse .collapse__title button {
  border: none;
  background-color: #ff6060;
}
.collapse .collapse__title button .arrow {
  animation: transform;
  transform: rotate(0deg);
}
.collapse .collapse__title button .arrow__rotated {
  animation: transform;
  transform: rotate(180deg);
}
.collapse .collapse__content {
  background-color: #f7f7f7;
  color: #ff6060;
  margin: 0;
  animation: content-appear 1s ease-in forwards;
  transform-origin: top;
}

.about__collapses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  gap: 40px;
  width: 80%;
}
.about__collapses .collapse .collapse__title {
  border-radius: 5px;
}
.about__collapses .collapse .collapse__title button {
  border-radius: 5px;
}
.about__collapses .collapse .collapse__title h2 {
  font-size: 25px;
}
.about__collapses .collapse .collapse__content {
  padding: 36px 27px 19px 18px;
  border-radius: 0 0 5px 5px;
}
.about__collapses .collapse .collapse__content p {
  font-size: 24px;
}

@keyframes content-appear {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.accommodation__slideshow {
  max-width: 1240px;
  height: 415px;
  display: flex;
  margin: 40px 0;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  border: 2px solid black;
}

.slideshow__arrow {
  flex: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: rgb(185, 8, 38);
  cursor: pointer;
}
.slideshow__arrow:active {
  transform: translatex(-50%) scale(0.75);
}

.slideshow__count {
  flex: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.home__banner {
  background-image: url(../assets/banner__home.png);
  background-position: center;
  background-size: cover;
  mix-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  margin: 63px 0 50px 0;
  border-radius: 25px;
}
.home__banner h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 68.45px;
  color: white;
}

.home__gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  padding: 56px 50px;
}

.home__gallery__card {
  position: relative;
  width: 340px;
  height: 340px;
  overflow: hidden;
  border-radius: 25px;
}
.home__gallery__card img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.home__gallery__card h2 {
  position: absolute;
  top: 78.82%;
  left: 5.88%;
  right: 5.88%;
  bottom: 5.88%;
  font-size: 18px;
  color: white;
}

.about__banner {
  max-width: 1240px;
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.about__banner img {
  width: 100%;
  border-radius: 25px;
  height: 223px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff6060;
  padding: 100px 0;
}
.error h1 {
  margin: 0;
  font-size: 280px;
  font-weight: 700;
  line-height: 411px;
  padding-bottom: 66px;
}
.error p {
  margin: 0;
  font-size: 36px;
  padding-bottom: 182px;
  text-align: center;
}
.error .error__link {
  margin: 0;
  color: #ff6060;
  font-size: 18px;
}
@media (max-width: 719px) {
  .error {
    padding: 89px 0;
  }
  .error h1 {
    font-size: 96px;
    padding-bottom: 11px;
  }
  .error p {
    font-size: 18px;
    padding: 11px 50px 182px 50px;
  }
  .error .error__link {
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.css.map */
