.collapse {
    .collapse__title {
        background-color: $color-primary;
        color: $color-secondary;
        display: flex;
        justify-content: space-between;
        align-content: baseline;
        padding: 0 30px 0 20px;
        button {
            border: none;
            background-color: $color-primary;
            .arrow {
                animation: transform;
                transform: rotate(0deg);
            }
            .arrow__rotated {
                animation: transform;
                transform: rotate(180deg);
            }
        }
    }
    .collapse__content {
        background-color: $collapse-background-color;
        color: $color-primary;
        margin: 0;
        animation: content-appear 1s ease-in forwards;
        transform-origin: top;
    }
}

.about__collapse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    gap: 40px;
    width: 80%;
    .collapse {
        .collapse__title {
            border-radius: 5px;
            button {
                border-radius: 5px;
            }
            h2 {
                font-size: 25px;
            }
        }
        .collapse__content {
            padding: 36px 27px 19px 18px;
            border-radius: 0 0 5px 5px;
            font-size: 24px;
            font-weight: 400;
        }
    }
}

.accommodation__collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 76px;
    .collapse {
        width: 582px;
        .collapse__title {
            border-radius: 10px;
            button {
                border-radius: 10px;
            }
            h2 {
                font-size: 18px;
            }
        }
        .collapse__content {
            display: flex;
            flex-direction: column;
            padding: 40px 12px 27px 20px;
            border-radius: 0 0 10px 10px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}
@keyframes content-appear {
    0% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
