.collapse__close {
    background-color: $color-primary;
    color: $color-secondary;
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    padding: 0 30px 0 20px;
    button {
        border: none;
        background-color: $color-primary;
    }
}

.collapse__open {
    background-color: $collapse-background-color;
    color: $color-primary;
}

.about__collapses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    gap: 40px;
    width: 80%;
    .about__collapses__collapse {
        .collapse__close {
            border-radius: 5px;
            button {
                border-radius: 5px;
            }
            h2 {
                font-size: 25px;
            }
        }
        .collapse__open {
            padding: 36px 27px 19px 18px;
            border-radius: 0 0 5px 5px;
            p {
                font-size: 24px;
            }
        }
    }
}
