.accommodation__slideshow {
    max-width: 1240px;
    height: 255px;
    display: flex;
    margin: 30px 0 15px 0;
    border-radius: $border-radius-small;
    background-position: center;
    background-size: cover;
    @include respond-to(desktop) {
        height: 415px;
        border-radius: $border-radius-big;
        margin: 40px 0;
    }
    .slideshow__arrow {
        flex: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-secondary;
        cursor: pointer;
        img {
            width: 11.67px;
            height: 19.8px;
            @include respond-to(desktop) {
                width: 46.68px;
                height: 79.2px;
            }
        }
    }
    .slideshow__count {
        flex: 84%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;
        color: $color-secondary;
        font-size: 18px;
        opacity: 0;
        @include respond-to(tablet) {
            opacity: 1;
        }
        @include respond-to(desktop) {
            opacity: 1;
        }
    }
}
