.accommodation__slideshow {
    max-width: 1240px;
    height: 415px;
    display: flex;
    margin: 40px 0;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    .slideshow__arrow {
        flex: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(185, 8, 38);
        cursor: pointer;
        img {
            width: 46.68px;
            height: 79.2px;
        }
    }
    .slideshow__count {
        flex: 84%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;
        color: $color-secondary;
        font-size: 18px;
    }
}
