.accommodation__slideshow {
    max-width: 1240px;
    height: 415px;
    display: flex;
    margin: 40px 0;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    border: 2px solid black;
}

.slideshow__arrow {
    flex: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(185, 8, 38);
    cursor: pointer;
    &:active {
        transform: translatex(-50%) scale(0.75);
    }
}

.slideshow__count {
    flex: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}
