* {
    box-sizing: border-box;
}

body {
    min-width: 360px;
    max-width: 1440px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
}

header,
main {
    margin: 20px 20px;

    @include respond-to(tablet) {
        margin: 30px 50px;
    }

    @include respond-to(desktop) {
        margin: 40px 100px;
    }
}
