$body-background-color: #e5e5e5;
$footer-background-color: black;
$collapse-background-color: #f7f7f7;

$color-primary: #ff6060;
$color-secondary: white;

$border-radius: 25px;

$container-width: 1240px;
